# Web framework và server
fastapi              
uvicorn               

# HTTP client
requests              

# Database
motor                 
pymongo               

# RAG & LangChain
langchain             
langchain-community   

# Core dependencies
numpy               
pandas               
python-multipart     
pydantic             

# Xử lý file tài liệu
PyMuPDF                
pdfplumber          
pypdf                 
python-docx      

# Redis
redis
rq

# Storage
minio

# Hugging face
sentence-transformers
